:root {
  --gray: #EEEEEE;
  --gray-hover: #DFDFDF;
  --gray-active: #D5D5D5;
  --dark-gray: #666666;
  --black: #000000;
  --coral: #FB565A;
  --coral-hover: #E74246;
  --coral-active: #D7373B;
  --green: #00CA74;
  --green-hover: #00BC6C;
  --green-active: #00AA62;
  --yellow: #EFC849;
  --yellow-hover: #EAB534;
  --yellow-active: #E5A722;
  --white: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1180px;
  font-family: "PT Sans Narrow", Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.main-header-logo {
  margin-bottom: 7px;
  width: 159px;
  height: 65px;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

.promo-block,
.header-nav,
.promo-title-gray {
  background-color: var(--gray);
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
}

.button {
  display: block;
  padding: 16px;
  width: 200px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--coral);
  border-radius: 3px;
  border: none;
}

.button:hover {
  background-color: var(--coral-hover);
}

.button:active {
  background-color: var(--coral-active);
  color: rgba(255, 255, 255, 0.3);
}

.button:focus {
  outline: none;
}

.header-nav {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.header-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
}

.header-nav a:hover {
  color: var(--coral);
}

.header-nav a:active {
  color: var(--black);
  opacity: 0.3;
}

.promo-block {
  padding-bottom: 79px;
  padding-top: 73px;
}

.slider-buttons {
  position: absolute;
  top: 239px;
  left: 678px;
  display: flex;
  gap: 16px;
}

.slider-buttons button {
  width: 18px;
  height: 18px;
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.slider-button--active {
  position: relative;
}

.slider-button--active:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px solid var(--gray-active);
  border-radius: 50%;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 27px;
  margin-right: 28px;
  width: 442px;
  gap: 46px;
}

.site-navigation a,
.card-navigation a {
  display: block;
}

.card-navigation {
  padding-top: 14px;
}

.card-navigation .card-link {
  position: relative;
  padding-left: 50px;
}

.card-link::before {
  position: absolute;
  top: 6px;
  left: 9px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/header/cart-icon.svg");
}

.promo-block .container {
  position: relative;
}

.nav-link--active {
  padding-bottom: 12px;
  border-bottom: 2px solid var(--coral);
}

.promo-title-gray {
  margin-bottom: 41px;
}

.promo-title {
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.promo-title--catalog {
  padding-top: 72px;
  padding-bottom: 108px;
  margin-right: 18px;
  text-align: center;
}

.promo-paragraph {
  margin-top: 26px;
  margin-bottom: 39px;
}

.promo {
  position: relative;
}

.promo-slider-1 {
  display: none;
}

.promo-slider-1::after {
  position: absolute;
  top: -78px;
  left: 398px;
  content: "";
  width: 891px;
  height: 431px;
  background-image: url("../img/index/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-slider-2 {
  display: none;
}

.promo-slider-2::after {
  position: absolute;
  top: -78px;
  left: 398px;
  content: "";
  width: 891px;
  height: 431px;
  background-image: url("../img/index/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-slider-3 {

}

.promo-slider-3::after {
  position: absolute;
  top: -78px;
  left: 398px;
  content: "";
  width: 891px;
  height: 431px;
  background-image: url("../img/index/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button--learn-more {
  width: 241px;
}

.section-category {
  margin-top: 80px;
  padding-bottom: 73px;
}

.category-block {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 100px;
}

.category {
  position: relative;
  padding-top: 152px;
}

.website-img:before {
  content: "";
  position: absolute;
  top: 0;
  height: 146px;
  width: 300px;
  background-image: url("../img/index/illustration-1.jpg");
}

.application-img:before {
  content: "";
  position: absolute;
  top: 0;
  height: 146px;
  width: 300px;
  background-image: url("../img/index/illustration-2.jpg");
}

.presentation-img:before {
  content: "";
  position: absolute;
  top: 0;
  height: 146px;
  width: 300px;
  background-image: url("../img/index/illustration-3.jpg");
}

.paragraph-about-us::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  height: 3px;
  width: 23px;
  background-color: var(--coral);
}

.info-about-us {
  display: grid;
  grid-template-columns: 652px 360px;
  column-gap: 142px;
  margin-top: 71px;
}

.container .info-about-us {
  position: relative;
}


.info-about-us::before {
  content: "";
  position: absolute;
  top: -66px;
  height: 2px;
  width: 1158px;
  background-color: var(--gray);
}

.client-group section {
  position: relative;
}

.client-section {
  margin-top: 58px;
  border-bottom: 2px solid var(--gray);
  border-top: 2px solid var(--gray);
}

.client-link--htmlacademy::after,
.client-link--borodinski::after,
.client-link--pink::after {
  content: "";
  position: absolute;
  top: 63px;
  height: 52px;
  width: 2px;
  background-color: var(--gray)
}

.client-link--htmlacademy::after {
  left: 279px;
}

.client-link--borodinski::after {
  left: 579px;
}

.client-link--pink::after {
  left: 879px;
}

.map-img {

}

.statistics-group {
  margin-top: 30px;
  margin-right: 1px;
  padding-left: 7px;
  padding-right: 7px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.client-group {
  position: relative;
  display: flex;
  padding: 41px 0;
  flex-wrap: wrap;
  gap: 111px;
  align-items: center;
}

.map-section {
  margin-top: 81px;
  max-height: 416px;
  background-image: url("../img/footer/map.png");
  background-repeat: no-repeat;
  background-position: center;
}

.map-section iframe {
  border: none;
  width: 100%;
}

.map-section .container {
  position: relative;
}

.map-section {
  position: relative;
}

.address-group:before {
  content: "";
  position: absolute;
  top: 32px;
  left: 682px;
  width: 231px;
  height: 190px;
  background-image: url(../img/footer/map-marker1.png);
  background-repeat: no-repeat;
}

.address-group {
  width: 319px;
  position: absolute;
  left: 140px;
  bottom: 64px;
  padding: 50px 32px 44px 50px;
  background-color: var(--white);
}

.social-group {
  margin-top: 36px;
  margin-bottom: 57px;
  display: grid;
  grid-template-columns: 261px 1fr;
  gap: 139px;
  align-items: center;
}

.social-links-group {
  margin-top: 16px;
  display: flex;
  gap: 9px;
  flex-wrap: wrap;
}

.grid-catalog {
  display: grid;
  grid-template-columns: auto 360px 360px;
  grid-template-rows: repeat(3,auto);
  column-gap: 40px;
  margin-bottom: -19px;
}

.form-section {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 78px;
  padding-bottom: 87px;
  width: 960px;
  background-color: var(--white);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.form-section--show {
  display: block;
  animation: bounce 0.6s;
}

.form-section--error {
  animation: shake 0.6s;
}

.button-modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url("../img/footer/close-cross.svg");
  opacity: 0.3;
  outline: none;
  border: none;
}

.button-modal-close:hover {
  opacity: 1;
}

.button-modal-close:active {
  opacity: 0.1;
}

.sorting-subtitle--sort {
  grid-column-start: 2;
}

.sorting-links {
  padding-top: 6px;
  grid-column-start: 3;
  display: flex;
  align-items: center;
  gap: 26px;
  flex-wrap: wrap;
}

.sorting-link--descending {
  padding-left: 21px;
}

.sorting-link--increase {
  padding-left: 15px;
}

.grid-section {
  grid-row: 1/-1;
  padding-top: 15px;
}

.fieldset-border--reset {
  border: none;
  margin: 0;
  padding: 0;
}

.grid-cards {
  margin-top: 33px;
  grid-column: 2/-1;
  grid-row-start: 2;
}

.card-catalog {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px 40px;
}

.card::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 360px;
  height: 40px;
  background-image: url(../img/catalog/browser.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.card:hover::before {
  opacity: 1;
}

.card:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.pagination {
  grid-column-start: 2;
  grid-column-end: -1;
  display: flex;
  gap: 11px;
  margin-top: 51px;
  flex-wrap: wrap;
}


.button--category {
  width: 159px;
}

.category-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  margin-top: 19px;
  margin-bottom: 15px;
}

.category-paragraph {
  max-width: 260px;
  margin-bottom: 33px;
}

.slogan-about-us {
  margin-top: 11px;
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.title-about-us {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.paragraph-about-us {
  position: relative;
  margin-top: 23px;
  padding-bottom: 1px;
  padding-left: 36px;
}

.image-benefits {
  margin-top: -7px;
}

.title-about-us--statistic {
  margin-top: 14px;
  margin-left: 22px;
}

.statistics {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.percent {
  font-size: 26px;
  line-height: 40px;
}

.statistics-description {
  margin-top: 12px;
  padding-right: 18px;
  font-size: 16px;
  line-height: 18px;
}

.text-contact {
  margin-top: 20px;
  max-width: 214px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  font-style: normal;
  color: var(--dark-gray);
}

.title-address {
  margin:0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contact-number {
  margin-top: 18px;
}

.button--write-to-us {
  margin-top: 37px;
  width: 219px;
}

.footer-title {
  margin-top: 44px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.form-grid {
  display: grid;
  max-width: 761px;
  max-height: 443px;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
}

.footer-discount-paragraph {
  margin-top: 9px;
}

.form-legend {
  margin: 0;
  margin-bottom: 25px;
  grid-column: 1/-1;
  grid-row-start: 1;
  font-weight: bold;
  font-size: 45px;
}

.form-grid-name {
  grid-column-start: 1;
  grid-row-start: 2;
}

.form-grid-email {
  grid-column-start: 2;
  grid-row-start: 2;
}

.form-grid-text {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.form-grid-button {
  width: 259px;
  margin-top: 17px;
}

.form-grid-button:focus {
  border: #00BC6C;
}

.input-label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.input-text {
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
  padding: 14px;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
}

.input-text:hover {
  border: 2px solid #B4B9BB;
}

.input-text:focus {
  border: 2px solid #000000;
}

.input-text:invalid {
  border: 2px solid #E74246;
  color: #E74246;
}

.input-textarea {
 min-height: 118px;
  resize: none;
}

.sorting-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sorting-link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.sorting-link--active {
  opacity: 1;
}

.sorting-link:hover {
  opacity: 0.6;
}

.sorting-link:active {
  opacity: 1;
}

.grid-item {
  font-size: 16px;
  line-height: 19px;
}

.catalog-subtitle {
  margin: 0;
  padding-top: 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.catalog-subtitle:hover {
  color: var(--coral);
}

.catalog-subtitle:active {
  color: var(--gray-active);
}

.card {
  position: relative;
  margin: auto;
  max-height: 620px;
  background-color: var(--gray);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.card-info {
  display: none;
  position: absolute;
  left: -1px;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  padding: 4px 57px;
  width: 360px;
  background-color: var(--gray);
  border-radius: 3px;
}

.card:hover .card-info {
  display: flex;
}

.card-img {
  border-radius: 5px;
  padding-top: 39px;
}

.card-paragraph {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 32px;
  max-width: 250px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-gray);
}

.button--cost {
  margin: auto auto 40px;
  padding: 16px;
  border-radius: 3px;
}

.cost-list {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

/* Chrome, Safari, Edge, Opera */
.number-price::-webkit-outer-spin-button,
.number-price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number-price[type=number] {
  -moz-appearance: textfield;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding: 37px 20px 40px;
  background-color: var(--gray);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--gray-hover);
}

.range-controls .toggle {
  position: absolute;
  top: 27px;
  left: 18px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--dark-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}


.fieldset-grid {
  margin-top: 54px;
}

.grid-title {
  display: grid;
  gap: 20px;
  margin-top: 17px;
  margin-left: 19px;
  font-size: 16px;
  line-height: 19px;
}

.fieldset-features {
  margin-top: 47px;
}

.button--gray-show {
  color: var(--black);
  background-color: var(--gray);
  margin-top: 50px;
  width: 259px;
}

.grid-input-radio:disabled + .grid-label {
  color: rgba(0, 0, 0, 0.3);
}

.features-input-checkbox:disabled + .features-label {
  color: rgba(0, 0, 0, 0.3);
}

.features-input-list {
  padding-top: 16px;
  padding-left: 20px;
  display: grid;
  gap: 21px;
  font-size: 16px;
  line-height: 19px;
}

.features-item:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.button--cost:active {
  color: rgba(255, 255, 255, 1);

}

.button--green {
  background-color: var(--green);
}

.button--yellow {
  background-color: var(--yellow);
}

.button--gray {
  color: var(--black);
  background-color: var(--gray);
}

.button--gray-show:hover {
  color: var(--black);
  background-color: var(--gray-hover);
}

.button-pagination:hover {
  color: var(--black);
  background-color: var(--gray-hover);
}

.button-pagination:active {
  color: var(--black);
  background-color: var(--gray-hover);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  border: 0 solid var(--gray);
}

.button--gray-show:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: var(--gray-hover);
}

.button-pagination {
  padding: 16px 20px;
  width: min-content;
  color: var(--black);
  background-color: var(--gray);
}

.button--gray-show:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  border: 0 solid var(--gray);
}

.button-pagination:hover {
  border: 0 solid var(--gray);
}

.button-pagination--active {
  padding: 14px 18px;
  min-height: 50px;
  background-color: var(--white);
  border: 2px solid var(--gray);
}

.button-pagination--active:active {
  padding: 16px 20px;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  border: 0 solid var(--gray);
}

.button-pagination--active:hover {
  padding: 16px 20px;
}

.button-pagination--next {
  width: 260px;
}

.radio {
  position: relative;
  padding-left: 13px;
}

.radio input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.radio-button {
  position: absolute;
  top: -3px;
  left: -19px;
  width: 25px;
  height: 25px;
  background-image: url("../img/catalog/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.radio input:checked + .radio-button {
  background-image: url("../img/catalog/radio-on.svg");
}

.radio input:hover + .radio-button {
  opacity: 1;
}

.radio input:disabled + .radio-button {
  opacity: 0.1;
}

.radio input:focus + .radio-button {
  outline: 3px solid var(--coral);
}

.check {
  position: relative;
  padding-left: 13px;
}

.check input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check-box {
  position: absolute;
  left: -19px;
  width: 26px;
  height: 23px;
  background-image: url("../img/catalog/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.check_input:focus + .check-box {
  outline: 3px solid var(--coral);
}

.check input:checked + .check-box {
  background-image: url("../img/catalog/checkbox-on.svg");
}

.check input:hover + .check-box {
  opacity: 1;
}

.check input:disabled + .check-box {
  opacity: 0.1;
}


.client-link {
  opacity: 0.2;
}

.client-link:hover {
  opacity: 1;
}

.client-link:active {
  opacity: 0.1;
}

.social-link {
  width: 81px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  border-radius: 50%;
}

.social-link:hover {
  background-color: var(--coral);
}

.social-link:active {
  background-color: var(--coral-active);
}

.social-link:active .social-img {
  opacity: 0.3;
}

.button--yellow:hover {
  background-color: var(--yellow-hover);
}

.button--yellow:active {
  background-color: var(--yellow-active);
}

.button--green:hover {
  background-color: var(--green-hover);
}

.button--green:active {
  background-color: var(--green-active);
}

*, *:before, *:after {
  box-sizing: border-box;
}

/*Animation*/

@keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }

  70% {
    transform: translate(-50%, 30px);
  }

  90% {
    transform: translate(-50%, -10px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
